.navbar-inverse{
	background:#2574A9;
	opacity:0.9;
}

#head{
	background:#181015 url( ../images/header.jpg) no-repeat;
	height: 400px;
	padding-top: 120px;
	min-height: 440px;
}

.container h2{
	font-size: 26px;
	font-weight: 300;
	margin-top: 10px;
}

#head .container{
	height: 80px;
}

.nav.navbar-nav.pull-right{
	height: 80px;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding-top: 15px;
	padding-bottom: 10px;
}

.nav.navbar-nav.pull-right a{
	color:#FFFFFF;
}

.nav.navbar-nav.pull-right a:hover{
	color:#596467;
}
.header-logo{
	height: 170px;
}

.lead img{
	height: 40px;
	margin-top: 10px;
}

.navbar-brand{
	height: 80px;
	width: 80px;
}

.navbar-header{
	height:80px;
}

.shortcuts-section h2{
	text-align: center;
	color: #2574A9;
	font-weight: normal;
	letter-spacing: 2px;
	word-spacing: 4px;
	padding-top: 30px;
	font-size: 22px;
}

.shortcuts-section h3{
	text-align: center;
	color: #596467;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 30px;
	margin-top: 10px;
}
.icons-list{
	list-style-type: none;
	text-align: center;
}

.icons-list li{
	display: inline;
}

.icons-list p{
	display: inline;
	color: #596467;
	font-weight: bold;
	margin: 0;
}

.icons-list p:hover{
	display: inline;
	color: #2574A9;
	font-weight: bold;
}

.icons-list a{
	text-decoration: none;
	display: block;
}

.icons-list li{
	display: inline-block;
	width: 20%;
	margin-left: -4px;

}
.icon-container{
	height: 75px;
	width: 75px;
	display: block;
	margin: 0 auto;
}

.icon-container.fechas{
	background: url(http://i.imgur.com/Q9Bvbbq.png);
}

.icon-container.lugar{
	background: url(http://i.imgur.com/77vKzS2.png);
}

.icon-container.equipos{
	background: url(http://i.imgur.com/T24gnP3.png);
}

.icon-container.partidas{
	background: url(http://i.imgur.com/YOXqqkx.png);
}

.icon-container.premios{
	background: url(http://i.imgur.com/jLAJK43.png);
}

.icon-container.fechas:hover{
	background: url(http://i.imgur.com/zDvLyjE.png);
}

.icon-container.lugar:hover{
	background: url(http://i.imgur.com/tSfS5zT.png);
}

.icon-container.equipos:hover{
	background: url(http://i.imgur.com/opgQg26.png);
}

.icon-container.partidas:hover{
	background: url(http://i.imgur.com/978qkUy.png);
}

.icon-container.premios:hover{
	background: url(http://i.imgur.com/RGmasFW.png);
}

.fechas-header{
	height: 60px;
	width: 1170px;
	background: #2574A9;
}

.fechas-section .container{
width: 100%;
}
.fechas-section .container .fechas-header{
width: 100%;
}

.fechas-content{
	width: 100%;
	height: 300px;
	background: #F4F2EF;
	padding-top: 55px;
}

.etapa-content img{
	display: inline;
}

.title{
	text-align: center;
	font-weight:bold;
	font-size: 20px;
	padding-top: 15px;
}

.fechas-header p{
	color: #FFFFFF;
}

.etapa-left{
	float: left;
	width: 50%;
}

.etapa-right{
	float:right;
	width: 50%;
	margin:0 auto;
}

.etapa-title{
	font-weight: bold;
	color:#2574A9;
	font-size: 16px;
	padding-left: 10px;
}

.fechas-list li p{
	font-weight: bold;
	color:#2574A9;
	font-size: 14px;
}

.fechas-list li ul li{
	font-weight: bold;
	color:#596467;
	list-style-type: none;
}

.fechas-content img{
	width: 45px;
	float: left;
}

.etapa-content{
	width: 300px;
	margin: 0 auto;
}